{# templates/inv/filter_form.html #}
<form id="filterForm" method="get" action="{{ action_url }}">
  {# Mantén búsqueda actual si la usas #}
  {% if request.GET.q %}
    <input type="hidden" name="q" value="{{ request.GET.q }}">
  {% endif %}
  {% if project_code %}
    <input type="hidden" name="project" value="{{ project_code }}">
  {% endif %}

    <div class="row gx-2 gy-3 px-3">
        <div class="col-12 col-md-6">
            <label class="form-label fw-semibold">Type</label>
            {{ filter.form.type }}
        </div>

        <div class="col-12 col-md-6">
            <label class="form-label fw-semibold">Assigned bench</label>
            {{ filter.form.assigned_bench }}
        </div>

        <div class="col-12 col-md-6">
            <label class="form-label fw-semibold">Supplier</label>
            {{ filter.form.supplier }}
        </div>

        <div class="col-12 col-md-6">
            <label class="form-label fw-semibold">Status</label>
            {{ filter.form.status }}
        </div>

        <div class="col-12 col-md-6">
            <label class="form-label fw-semibold">Storage location</label>
            {{ filter.form.storage_location }}
        </div>

        <div class="list-group col-12 col-md-6">
            <label class="form-label fw-semibold">Saved filters</label>

            
            <div id="savedFiltersBox"
                hx-get="{% url 'inv:saved_filter_list_modal' %}{% if project_code %}?project={{ project_code }}{% endif %}"
                hx-trigger="load"
                hx-swap="innerHTML">
            <!-- Placeholder mientras carga -->
            <select class="form-select form-select-sm" disabled>
                <option>Loading…</option>
            </select>
            </div>


{% comment %}             <div class="dropdown" id="savedFiltersDropdownBox"
                    hx-get="{% url 'inv:saved_filter_list_modal' %}{% if project_code %}?project={{ project_code }}{% endif %}"
                    hx-trigger="load"
                    hx-swap="innerHTML">
                <!-- HTMX insertará aquí el botón + menú -->
                <button class="btn btn-outline-secondary btn-sm dropdown-toggle w-100 text-start"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        disabled>
                    Loading…
                </button>
            </div> {% endcomment %}

        </div>
    </div>
</form>